:root {
    --red-500: #cf3b3b;
    --blue-500: #3d84cb;
    --yellow-500: #ecde23;
    --yellow-700: #ecc423;
    --yellow-900: #865e13;

    --grey-900: #040404;
    --grey-500: #848484;

    --white: #ffffff;

    --overlay-600: #0404049e;
}
