.duelist-selection {
    background-image: url("/assets/dungeon-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__col {
        &:nth-child(1) {
            padding: var(--space-xl) var(--space-xl) 0;
            grid-template-rows: auto 1fr;
            display: grid;
            height: 100vh;
        }

        &:nth-child(2) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__player {
        margin-bottom: var(--space-lg);

        h2 {
            font-size: var(--fs-3xl);
            font-weight: 500;
            color: var(--red-500);
            box-shadow: 0px 0px;
            text-shadow: 2px 3px 0 var(--grey-900);
        }

        p {
            font-size: var(--fs-xl);
            color: var(--white);
        }
    }

    &__duelist-list {
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
        overflow-y: auto;
        padding-bottom: var(--space-2xl);
        border-radius: 10px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__duelist {
        padding: var(--space-lg);
        border-radius: 10px;
        background-color: var(--overlay-600);
        display: grid;
        grid-template-columns: 120px 1fr;
        gap: var(--space-2xl);
        border: 2px solid transparent;
        transition: all ease 0.15s;

        &:hover {
            cursor: pointer;
            border: 2px solid var(--white);
        }

        &--selected {
            border: 2px solid var(--white);
        }
    }

    &__duelist-info {
        h3 {
            font-size: var(--fs-2xl);
            color: var(--white);
            font-weight: 400;
            margin-bottom: var(--space-sm);
        }

        p {
            color: var(--grey-500);
            font-size: var(--fs-lg);
            line-height: var(--line-height-md);
            font-weight: 300;
        }
    }

    &__duelist-stats {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-xl);

        & > div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: fit-content;
            gap: var(--space-xl);
        }
    }

    &__duelist-shield-stat,
    &__duelist-health-stat {
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs);
        align-items: center;

        img {
            height: 40px;
            width: fit-content;
        }

        p {
            color: var(--white);
            font-size: var(--fs-lg);
        }
    }

    &__selected-duelist {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        & > button {
            position: absolute;
            bottom: var(--space-xl);
        }
    }

    &__selected-duelist-image {
        max-height: 400px;
        width: fit-content;
        margin-bottom: -3rem;
        z-index: 10;
    }

    &__tower {
        max-height: 400px;
        width: fit-content;
    }
}
